.env
#VS Code
.vscode/
settings.json

# Django related 
# src/<yourproject>/settings/local.py
# static-cdn/  # any collected static files 
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

##
db.json
##
static/*
##
dump.json
##
backend/migrations/00*